body {
    background:
            radial-gradient(black 3px, transparent 4px),
            radial-gradient(black 3px, transparent 4px),
            linear-gradient(#fff 4px, transparent 0),
            linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
            linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
            #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
.bg
{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 200px;
    border: 2px solid white;
    border-radius: 7px;
    background-image: url("wp3658143-alone-wallpapere.jpg");
    background-repeat: no-repeat;
}

.center
{
    text-align: center;
}

.center-buttons
{
    margin-left: 700px;
    margin-top: 400px;
    position: relative;
    text-align: center;
}

.home
{
    margin: 5px;
    float: left;
    position: relative;
    border: 2px solid white;
    border-radius: 7px;
    padding: 10px;
    display: inline-block;
    color: white;
    background-color: transparent;
    font-family: Arial;
}

.home:hover
{
    cursor: pointer;
    background-color: azure;
    color: black;
    transition: background-color 0.1s linear;
    transition: color 0.1s linear;
}

.gallery
{
    margin: 5px;
    float: left;
    position: relative;
    border: 2px solid white;
    border-radius: 7px;
    padding: 10px;
    display: inline-block;
    color: white;
    background-color: transparent;
    font-family: Arial;
}
.gallery:hover
{
    cursor: pointer;
    background-color: azure;
    color: black;
    transition: background-color 0.1s linear;
    transition: color 0.1s linear;
}
