body {
        background-image: url("2.png");
}
.bg
{
    text-align: center;
    display: inline-block;
    padding-left: 280px;
    padding-right: 280px;
    padding-bottom: 150px;
    border: 2px solid #ffffff;
    border-radius: 7px;
    background-image: url("wp3658143-alone-wallpapere.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.center
{
    text-align: center;
}

.center-buttons
{
    display: inline-block;
    margin: auto;
    margin-top: 400px;
    position: relative;
    text-align: center;
}

.home
{
    margin: 5px;
    float: left;
    position: relative;
    border: 2px solid white;
    border-radius: 7px;
    padding: 10px;
    display: inline-block;
    color: white;
    background-color: transparent;
    font-family: Arial;
}

.home:hover
{
    cursor: pointer;
    background-color: azure;
    color: black;
    transition: background-color 0.1s linear;
    transition: color 0.1s linear;
}

.gallery
{
    margin: 5px;
    float: left;
    position: relative;
    border: 2px solid white;
    border-radius: 7px;
    padding: 10px;
    display: inline-block;
    color: white;
    background-color: transparent;
    font-family: Arial;
}
.gallery:hover
{
    cursor: pointer;
    background-color: azure;
    color: black;
    transition: background-color 0.1s linear;
    transition: color 0.1s linear;
}
