body {
        background-image: url("2.png");
}

.bg
{
    text-align: center;
    display: inline-block;
    padding-left: 280px;
    padding-right: 280px;
    padding-bottom: 130px;
    border: 2px solid #ffffff;
    border-radius: 7px;
    background-image: url("wp3658143-alone-wallpapere.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.center
{
    text-align: center;
}

.center-buttons
{
    display: inline-block;
    margin-top: 400px;
    position: relative;
    text-align: center;
}
.inc
{
    display: inline-block;
    position: relative;
    text-align: center;
}
.rcorners1 {
    text-align: center;
    border-radius: 15px;
    background: whitesmoke;
    opacity: 0.5;
    padding: 20px;
    width: 1000px;
    height: 250px;
    margin: 20px;
    margin-left: 60px;
    position: relative;
    box-shadow: black;
}

.rcorners {
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    width: 1000px;
    height: 150px;
    margin: 10px;
    position: relative;
    box-shadow: black;
}
.resize
{
    font-family: Nunito;
    font-size: large;
    word-wrap: break-word;
    text-shadow: 0.5px 0.5px 0px #000000;
}
.resize-pic
{
    cursor: pointer;
    width: 300px;
    height: 400px;
}
.gallery
{
    margin: 5px;
    float: left;
    position: relative;
    border: 2px solid white;
    border-radius: 7px;
    padding: 20px;
    display: inline-block;
    color: white;
    background-color: transparent;
    font-family: Nunito;
}

.gallery:hover
{
    cursor: pointer;
    background-color: whitesmoke;
    opacity: 0.75;
    color: black;
    transition: background-color 0.15s linear;
    transition: color 0.15s linear;
}
.footer-box
{
    position: relative;
    bottom: 0px;
    border: 1px hidden black;
    border-radius: 25px;
    padding: 7px;
    padding-right: 40px;
    width: 1000px;
    text-align: right;
    font-family: Nunito;
    font-size: small;
    background-color: whitesmoke;
    opacity: 0.5;
    margin-left: 60px;
}
